<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}" lang="en">
<head>
	<div layout:fragment="head">
		<title>Flight Details</title>
	</div>
</head>
<body>
<div layout:fragment="content">
	<h1 th:text="${flight.id != null} ? 'Edit Flight' : 'New Flight'"></h1>
	<form th:action="@{/admin/flights}" method="post">
		<input type="hidden" name="id" th:value="${flight.id}"/>

		Flight Number:
		<label><input name="flightNumber" th:value="${flight.flightNumber}"/></label><br/>

		Origin:
		<label><input name="origin" th:value="${flight.origin}"/></label><br/>

		Destination:
		<label><input name="destination" th:value="${flight.destination}"/></label><br/>

		<label>Departure Time:
			<input type="datetime-local" name="departureTime" th:value="${departureInput != null ? departureInput : ''}"/>
		</label><br/>

		<label>Arrival Time:
			<input type="datetime-local" name="arrivalTime" th:value="${arrivalInput != null ? arrivalInput : ''}"/>
		</label><br/>

		Total Economy Seats:
		<label><input type="number" name="totalEconomySeats" th:value="${flight.totalEconomySeats}"/></label><br/>

		Total Business Seats:
		<label><input type="number" name="totalBusinessSeats" th:value="${flight.totalBusinessSeats}"/></label><br/>

		Price Economy:
		<label><input name="priceEconomy" th:value="${flight.priceEconomy}"/></label><br/>

		Price Business:
		<label><input name="priceBusiness" th:value="${flight.priceBusiness}"/></label><br/>

		<button type="submit">Save</button>
	</form>
</div>
</body>
</html>