<div class="flight-search-card" th:fragment="searchForm">
	<form class="flight-search-form" id="flightSearchForm" method="get" th:action="@{/flights}">
		<div class="inline">
			<!-- Origin -->
			<div class="form-group">
				<label for="origin">Origin
					<select id="origin" name="origin">
						<option disabled th:selected="${param.origin == null}"
						        value="">
							<!--							FROM-->
						</option>
						<option th:each="airport : ${airports}"
						        th:selected="${param.origin == airport}"
						        th:text="${airport}"
						        th:value="${airport}">
						</option>
					</select>
				</label>
			</div>

			<span class="form-separator">&#8594;</span>

			<!-- Destination -->
			<div class="form-group">
				<label for="destination">Destination
					<select id="destination" name="destination">
						<option disabled th:selected="${param.destination == null}"
						        value="">
							TO
						</option>
						<option th:each="airport : ${airports}"
						        th:selected="${param.destination == airport}"
						        th:text="${airport}"
						        th:value="${airport}">
						</option>
					</select>
				</label>
			</div>
		</div>

		<div class="form-group">
			<label>Dates
				<input name="date" th:value="${param.date}" type="date"/>
			</label>
		</div>

		<button class="animated-button" type="submit">Search Flights</button>
	</form>
</div>