@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

/* Reset and base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

html {
	font-size: 100%;
}

/* 16px */

h1 {
	font-size: 4.210rem;
	/* 67.36px */
}

h2 {
	font-size: 3.158rem;
	/* 50.56px */
}

h3 {
	font-size: 2.369rem;
	/* 37.92px */
}

h4 {
	font-size: 1.777rem;
	/* 28.48px */
}

h5 {
	font-size: 1.333rem;
	/* 21.28px */
}

small {
	font-size: 0.750rem;
	/* 12px */
}

:root {
	/*--linearCustom: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);*/
	--linearPrimarySecondary: linear-gradient(#d63645, #e8b391);
	--linearPrimaryAccent: linear-gradient(#d63645, #deb05c);
	--linearSecondaryAccent: linear-gradient(#e8b391, #deb05c);
	--radialPrimarySecondary: radial-gradient(#d63645, #e8b391);
	--radialPrimaryAccent: radial-gradient(#d63645, #deb05c);
	--radialSecondaryAccent: radial-gradient(#e8b391, #deb05c);
	--dropdown-bg: linear-gradient(45deg, #d63645, #deb05c)
}

:root[data-theme="light"] {

	--text: #170507;
	--text-50: #faeaec;
	--text-100: #f6d5d9;
	--text-200: #edabb3;
	--text-300: #e3828d;
	--text-400: #da5867;
	--text-500: #d12e41;
	--text-600: #a72534;
	--text-700: #7d1c27;
	--text-800: #54121a;
	--text-900: #2a090d;
	--text-950: #150506;

	--background: #fef9f9;
	--background-50: #fbe9e9;
	--background-100: #f8d3d3;
	--background-200: #f0a8a8;
	--background-300: #e97c7c;
	--background-400: #e15151;
	--background-500: #da2525;
	--background-600: #ae1e1e;
	--background-700: #831616;
	--background-800: #570f0f;
	--background-900: #2c0707;
	--background-950: #160404;

	--primary: #d63645;
	--primary-50: #fbeaec;
	--primary-100: #f6d5d8;
	--primary-200: #eeaab1;
	--primary-300: #e5808a;
	--primary-400: #dc5663;
	--primary-500: #d42b3c;
	--primary-600: #a92330;
	--primary-700: #7f1a24;
	--primary-800: #551118;
	--primary-900: #2a090c;
	--primary-950: #150406;

	--secondary: #e8b391;
	--secondary-50: #fbf0ea;
	--secondary-100: #f6e2d5;
	--secondary-200: #edc4ab;
	--secondary-300: #e4a781;
	--secondary-400: #db8a57;
	--secondary-500: #d26c2d;
	--secondary-600: #a85724;
	--secondary-700: #7e411b;
	--secondary-800: #542b12;
	--secondary-900: #2a1609;
	--secondary-950: #150b04;

	--accent: #deb05c;
	--accent-50: #fbf5ea;
	--accent-100: #f6ebd5;
	--accent-200: #eed6aa;
	--accent-300: #e5c280;
	--accent-400: #dcad56;
	--accent-500: #d4992b;
	--accent-600: #a97a23;
	--accent-700: #7f5c1a;
	--accent-800: #553d11;
	--accent-900: #2a1f09;
	--accent-950: #150f04;

}

:root[data-theme="dark"] {

	--text: #faeaec;
	--text-50: #150507;
	--text-100: #290a0e;
	--text-200: #53131c;
	--text-300: #7c1d2a;
	--text-400: #a52738;
	--text-500: #cf3046;
	--text-600: #d85a6b;
	--text-700: #e28390;
	--text-800: #ecacb5;
	--text-900: #f5d6da;
	--text-950: #faeaec;

	--background: #040101;
	--background-50: #140505;
	--background-100: #290a0a;
	--background-200: #521414;
	--background-300: #7a1f1f;
	--background-400: #a32929;
	--background-500: #cc3333;
	--background-600: #d65c5c;
	--background-700: #e08585;
	--background-800: #ebadad;
	--background-900: #f5d6d6;
	--background-950: #faebeb;

	--primary: #c72939;
	--primary-50: #150406;
	--primary-100: #2a090c;
	--primary-200: #551118;
	--primary-300: #7f1a24;
	--primary-400: #a92330;
	--primary-500: #d42b3c;
	--primary-600: #dc5663;
	--primary-700: #e5808a;
	--primary-800: #eeaab1;
	--primary-900: #f6d5d8;
	--primary-950: #fbeaec;

	--secondary: #6d3817;
	--secondary-50: #150b04;
	--secondary-100: #2a1609;
	--secondary-200: #542b12;
	--secondary-300: #7e411b;
	--secondary-400: #a85724;
	--secondary-500: #d26c2d;
	--secondary-600: #db8a57;
	--secondary-700: #e4a781;
	--secondary-800: #edc4ab;
	--secondary-900: #f6e2d5;
	--secondary-950: #fbf0ea;

	--accent: #a17421;
	--accent-50: #150f04;
	--accent-100: #2a1f09;
	--accent-200: #553d11;
	--accent-300: #7f5c1a;
	--accent-400: #a97a23;
	--accent-500: #d4992b;
	--accent-600: #dcad56;
	--accent-700: #e5c280;
	--accent-800: #eed6aa;
	--accent-900: #f6ebd5;
	--accent-950: #fbf5ea;

}