<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
	<th:block layout:fragment="head">
	</th:block>
	<title>Home - Airline Reservation</title>
</head>
<body>
<div layout:fragment="content">
	<div th:replace="~{fragments/searchForm :: searchForm}"></div>
	<hr/>
	<h2>Featured Flights</h2>

	<div th:if="${flights != null and !#lists.isEmpty(flights)}" class="card-container">
		<div th:each="f : ${flights}" class="card">
			<div class="content">
				<div class="title">
					<span th:text="${f.origin}"></span>
					<span class="form-separator">&#8594;</span>
					<span th:text="${f.destination}"></span>
				</div>
				<div class="price">Economy: $<span th:text="${f.priceEconomy}"></span></div>
				<div class="price">Business: $<span th:text="${f.priceBusiness}"></span></div>
				<div class="description">Departure Time: <span th:text="${f.departureDisplay}"></span></div>
			</div>
			<!--			<a th:href="@{/user/book(flightId=${f.id})}">-->
			<a th:href="@{/flight/{id}(id=${f.id})}">
				<button class="button">Book Now</button>
			</a>
		</div>
	</div>
</div>

<div layout:fragment="scripts"></div>
</body>
</html>