<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title th:text="${pageTitle} ?: 'Airline Reservation'">Airline Reservation</title>

	<!-- Global CSS -->
	<th:block th:replace="~{fragments/themeHead :: themeHead}"></th:block>

	<link rel="stylesheet" th:href="@{/css/theme.css}"/>
	<link rel="stylesheet" th:href="@{/css/theme-sync.css}"/>
	<link rel="stylesheet" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
	<link rel="stylesheet" th:href="@{/css/search.css}"/>
	<link rel="stylesheet" th:href="@{/css/forms.css}"/>
	<link rel="stylesheet" th:href="@{/css/components.css}"/>
	<link rel="stylesheet" th:href="@{/css/buttons.css}"/>
	<link rel="stylesheet" th:href="@{/css/theme-toggle.css}"/>

	<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
	<th:block layout:fragment="head"></th:block>
</head>
<body>
<header>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main>
	<section layout:fragment="content"></section>
</main>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>


<script defer th:src="@{/js/search.js}"></script>
<script defer th:src="@{/js/navbar.js}"></script>
<script defer th:src="@{/js/confirmation.js}"></script>
<script defer th:src="@{/js/theme-toggle.js}"></script>

<div th:replace="~{fragments/themeToggle :: themeToggle}"></div>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
