<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page(pageTitle, pageContent, pageScripts)">
<head>
	<meta charset="utf-8"/>
	<title th:text="${pageTitle} ?: 'Airline Reservation'">Airline Reservation</title>

	<th:block th:replace="~{fragments/themeHead :: themeHead}"></th:block>

	<link rel="stylesheet" th:href="@{/css/theme.css}"/>
	<link rel="stylesheet" th:href="@{/css/theme-sync.css}"/>
	<link rel="stylesheet" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
	<link rel="stylesheet" th:href="@{/css/search.css}"/>
	<link rel="stylesheet" th:href="@{/css/forms.css}"/>
	<link rel="stylesheet" th:href="@{/css/components.css}"/>
	<link rel="stylesheet" th:href="@{/css/buttons.css}"/>
	<link rel="stylesheet" th:href="@{/css/theme-toggle.css}"/>

	<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
</head>
<body>
<header>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main>
	<th:block th:replace="${pageContent}"></th:block>
</main>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>

<script defer th:src="@{/js/search.js}"></script>
<script defer th:src="@{/js/navbar.js}"></script>
<script defer th:src="@{/js/confirmation.js}"></script>
<script defer th:src="@{/js/theme-toggle.js}"></script>

<div th:replace="~{fragments/themeToggle :: themeToggle}"></div>
<th:block th:replace="${pageScripts}"></th:block>
</body>
</html>
